  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('assets./fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets./fonts/montserrat-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('assets./fonts/montserrat-v23-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets./fonts/montserrat-v23-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-900 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('assets./fonts/montserrat-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('assets./fonts/montserrat-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

:root {
    --grey: #2e2d2d;
    --lemon: #ffd000;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
    background-color: #000;
    user-select: none;
}

img {
    max-width: 100%;
    width: auto;
}

a {
    text-decoration: none;
    color: #fff
}

h2 {
    font-size: 28px;
    font-weight: 900;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #000;
}

.container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--grey);
}

.hero {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-pic {
    width: 250px;
    border-radius: 0 90px 0 135px;
    z-index: 10;
}

.hero-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero-name {
    margin-top: 86px;
    padding-right: 20px;
    font-weight: 900;
    font-size: 46px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--lemon);
}

.hero-prof {
    padding: 20px 20px 0 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--lemon);
}

.container-main {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.aside {
    width: 250px;
    background-color: var(--grey);
    color: #fff;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lemon);
    padding-bottom: 15px;
    color: #000;
}

.aside-title {
    padding: 10px 20px 0 0;
    margin-bottom: 10px;
    align-self: flex-end;
    border-bottom: 3px solid;
}

.contacts-list {
    list-style-type: none;
}

.contacts-item {
    margin: 20px 0 5px 5px;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.contacts-item > img {
    width: 25px;
}

.contacts-item > a:hover {
    color: #8a8a8a;
    transition: 0.3s;
    cursor: pointer;
}

.contacts-item > p {
    display: inline-block;
    margin-left: 7px;
}

.contacts-item > a {
    margin-left: 7px;
    color: #000;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-list {
    margin-left: 15px;
}

.skills-list {
    list-style-type: none;
}

.skills-item {
    padding-left: 2rem;
    background-image: url('./assets/icons/star.png');
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

.skills-item {
    margin: 20px 0 0 0;
}

.center {
    background-color: #fff;
    width: 750px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-title {
    width: 80%;
    padding: 10px 20px 0 0;
    margin-bottom: 10px;
    align-self: flex-end;
    text-align: end;
    border-bottom: 3px solid #000;
}

.about-description {
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 30px;
}