  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./assets/fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/montserrat-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('./assets/fonts/montserrat-v23-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/montserrat-v23-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-900 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('./assets/fonts/montserrat-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/montserrat-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

:root {
    --grey: #2e2d2d;
    --lemon: #ffd000;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
    background-color: #000;
    user-select: none;
}

img {
    max-width: 100%;
    width: auto;
}

a {
    text-decoration: none;
    color: #fff
}

h2 {
    font-size: 28px;
    font-weight: 900;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #000;
}

.container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--grey);
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-pic {
    width: 250px;
    border-radius: 0 0 0 135px;
    z-index: 10;
}

.hero-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero-name {
    margin-top: 86px;
    padding-right: 20px;
    font-weight: 900;
    font-size: 46px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--lemon);
}

.hero-prof {
    padding: 20px 20px 0 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--lemon);
}

.container-main {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.aside {
    width: 250px;
    background-color: var(--grey);
    color: #fff;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lemon);
    padding-bottom: 15px;
    color: #000;
    margin-bottom: 30px;
}

.aside-title {
    padding: 10px 20px 0 0;
    margin-bottom: 10px;
    align-self: flex-end;
    border-bottom: 3px solid;
}

.contacts-list {
    list-style-type: none;
}

.contacts-item {
    margin: 20px 0 5px 5px;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.contacts-item > img {
    width: 25px;
}

.contacts-item > a {
    margin-left: 7px;
    color: #000;
    box-shadow: inset 0 0 0 0 var(--grey);
    padding: 0 .25rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

.contacts-item > a:hover {
    color: var(--lemon);
    box-shadow: inset 300px 0 0 0 var(--grey);
}

.contacts-item > p {
    display: inline-block;
    margin-left: 7px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    color: var(--lemon);
}

.skills-list {
    margin-left: 10px;
    list-style-type: none;
    color: #fff;
}

.skills-item {
    padding-left: 1.5rem;
    background-image: url('./assets/icons/star.png');
    background-position: 0 0;
    background-size: 1.1rem 1.1rem;
    background-repeat: no-repeat;
    font-size: 19px;
    margin: 15px 0 0 0;
}

.lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    color: var(--lemon);
}

.lang-list {
    margin-left: 8px;
    list-style-type: none;
    color: #fff;
}

.lang-item {
    padding-left: 1.1rem;
    background-image: url('./assets/icons/circle.png');
    background-position: 0 4px;
    background-size: 0.8rem 0.8rem;
    background-repeat: no-repeat;
    font-size: 19px;
    margin: 10px 0 0 0;
}

.center {
    background-color: #fff;
    width: 750px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.center-title {
    width: 80%;
    padding: 10px 20px 0 0;
    margin-bottom: 10px;
    align-self: flex-end;
    text-align: end;
    border-bottom: 3px solid;
}

.about-description {
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 30px;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edu-list {
    margin-left: 33px;
    list-style-type: none;
}

.edu-item {
    font-weight: 600;
    padding: 10px 30px 5px 30px;
    padding-left: 1.4rem;
    background-image: url('./assets/icons/circle1.png');
    background-position: 0 16px;
    background-size: 0.8rem 0.8rem;
    background-repeat: no-repeat;
}

.edu-sec {
    padding: 0 0 15px 60px;
    font-size: 20px;
}

.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.rss {
    font-weight: 600;
    margin: 10px 0 10px 33px;
}

.courses-list {
    margin-left: 33px;
    list-style-type: none;
}

.courses-item {
    font-size: 20px;
    padding: 10px 30px 5px 30px;
    padding-left: 1.4rem;
    background-image: url('./assets/icons/circle1.png');
    background-position: 0 13px;
    background-size: 0.8rem 0.8rem;
    background-repeat: no-repeat;
}

.courses-item > a {
    color: #000;
    box-shadow: inset 0 0 0 0 var(--lemon);
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

.courses-item > a:hover {
    font-weight: 600;
    box-shadow: inset 300px 0 0 0 var(--lemon);
}

.example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--grey);
    color: var(--lemon);
}

.code {
    margin-left: 20px;
    padding-left: 20px;
    color: #fff;
    user-select: text;
    width: fit-content;
    font-size: 19px;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 20px;
}

.link {
    position: relative;
    height: 207px;
}

.modal {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(46, 45, 45, 0.9);
    color: #fff;
    padding: 10px;
    overflow: hidden;
    transition: 0.3s;
    left: 0;
    bottom: 0;
    opacity: 0;
}

.link > .modal {
    top: 100%;
    opacity: 0;
}

.link:hover > .modal {
    opacity: 100;
    top: 0;
}

@keyframes slidein {
  from {
      top: 0;
      width: 100%;
      height: 0;
      opacity: 0;
  }

  to {
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 100;
  }
}

.visible {
    display: block;
}

.modal-title {
    width: fit-content;
    border-bottom: 2px solid;
    font-size: 18px;
    color: var(--lemon);
    margin-bottom: 10px;
}

.modal-item {
    font-size: 17px;
    margin: 0 0 5px 20px;
}

.footer > .container {
    background-color: var(--lemon);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rss-logo {
    filter: invert(100);
    width: 150px;
    margin-left: 50px;
    transition: filter 0.5s ease-out;
}

.rss-logo:hover {
    filter: invert(30%);
}

.f-github > a {
    color: #000;
    font-weight: 600;
    transition: 0.5s ease-out;
}

.f-github > a:hover {
    color: rgb(182, 182, 182);
}

.f-data {
    margin-right: 30px;
    font-weight: 600;
}